body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.navbar-nav a {
  color: white !important;
}

.dropdown-menu a {
  color: black !important;
}

.banner {
  margin-top: 50px;
  height: 400px;
  background-color: #ccc;
  padding: 10px;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
   
footer {
	color: #000;
	background: #F8F9FA;
	padding: 50px;
}

.footer-links ul li a {
	color: #000;
}

.footer-divider {
	height: 1px;
	background: #000;
}

.spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 2px;
  border-color: #ccc;
  border-top-color: #4e5561;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}